@import "bourbon";
@import "variables";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "mixins";
@import "bootstrap";
//@import "themify-icons";
@import "theme";

body.login{
    label{
        font-weight: 400;
    }
    div.logo{
        margin: 2em 0 1em;
        padding: 0 10px;
        img{
            max-width: 90px;
        }
    }
    .input-icon{
        i.material-icons{
            font-size: 18px;
            line-height: 1.9;
            padding: 0;
        }
    }
    .panel-login{
        background-color: $white;
        border-radius: $border-radius-large;
        margin: 1em 0 2em;
        padding: 2em;
        fieldset{
            legend{
                font-size: 1.25em;
            }
        }
    }
}