body.form{
    form.panel-form{
        padding: 1em 0.5em;
    }
    input{
        border-width: 2px;
        &:focus{
            border-color: $brand-primary;
            border-width: 2px;
        }
    }
    div.select-container{
        position: relative;
        select{
            appearance: none;
            border-width: 2px;
            outline: none;
            &:active{
                border-color: $brand-primary;
                + .arrow{
                    @include triangle(up, $brand-primary, 0.65em, 0.45em);
                }
            }
            + .arrow{
                position: absolute;
                top: 50%; right: 0.75em;
                pointer-events: none;
                transform: translate(0, -50%);
                @include triangle(down, currentColor, 0.65em, 0.45em);
                
            }
        }
    }
    .form-group{
        .field-content{
            > .mce-tinymce{
                border-color: $input-border;
                border-radius: $border-radius-base;
                border-width: 2px !important;
            }
        }
        &.field-error{
            input{
                border-color: $brand-warning;
                border-width: 2px;
            }
            select{
                border-color: $brand-warning;
                border-width: 2px;
            }
            .mce-tinymce{
                border-color: $brand-warning;
                border-width: 2px;
            }
            .sp-replacer{
                border-color: $brand-warning;
                border-width: 2px;
            }
        }
    }
    .panel-body{
        padding: 15px 8px;
    }
    .btn.fileinput-button{
        position: relative;
        overflow: hidden;
        input{
            position: absolute;
            opacity: 0;
            top: 0; right: 0;
            cursor: pointer;
            //@include transform(scale(2));
            transform: scale(2);
        }
    }
    a.modal-add{
        color: $btn-primary-bg;
        &:focus{
            outline: none;
        }
    }
    div.table-files-container{
        background-color: $white;
        border: 2px solid $input-border;
        border-radius: $border-radius-base;
        margin: 0.75em 0 0;
        padding: 0.15em 0.45em;
        .table{
            margin-bottom: 0;
        }
    }
    div.table-responsive-structure{
        background-color: $white;
        border: 2px solid $input-border;
        border-radius: $border-radius-base;
        margin: 0.75em 0 0;
        padding: 0.15em 0.45em;
    }
    table.structure{
        margin-bottom: 0;
        thead tr{
            th:last-child{
                width: 5.5em;
            }
        }
        tbody tr{
            td:last-child{
                text-align: center;
                a{
                    padding: 0em 0.45em;
                    text-decoration: none;
                    i{
                        font-size: 16px;
                    }
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
    }
    .panel-form-submit{
        float: left;
        position: relative;
        width: 100%;
        @media screen and (min-width: $screen-md-min) {
            position: fixed;
            left: $menu_width; right: 1em; bottom: 0;
            z-index: 5;
            background-color: $gray-lighter;
            padding: 1em 0 1em;
            width: auto;
        }
    }
    #beebmx-panel-files{
        padding-top: 1em;
        .progress{
            height: 5px;
            margin-bottom: 10px;
        }
        .file-icon{
            font-size: em(16);
        }
        table{
            thead tr{
                th:last-child{
                    width: 5em;
                }
            }
        }
    }
}