html, body{
    height: 100%;
}
body.beebmx-panel{
// Pushy
// --------------------------------------------------
    &.pushy-open-left, &.pushy-open-right{
		overflow: hidden;
		height: 100%;
		-webkit-overflow-scrolling: touch;
		.site-overlay{
    		background-color: transparent;
		}
	}
	.pushy{
    	box-shadow: -1px -1px 4px $header-shadow inset;
    	a{
        	padding: 0;
    	}
	}

// Header
// --------------------------------------------------
    header{
        position: relative;
        z-index: 100;
        background-color: $brand-primary;
        color: $white;
        height: $header-height;
        box-shadow: 0 1px 0.2em $header-shadow;
        a{
            display: inline-block;
            color: $white;
            text-decoration: none;
            &.menu-bar, &.menu-btn{
                font-size: 1.5em;
                margin-left: 0.5em;
                padding: 0.3em 0.5em 0.25em;
            }
        }
        .title{
            font-size: 1.15em;
            font-weight: 500;
            margin: 0.61em 0;
            text-align: center;
        }
        img.logo{
            margin: 0.25em 0;
            max-height: 2.5em;
        }
    }

// Sidebar
// --------------------------------------------------
    nav.sidebar{
        display: none;
        //position: fixed;
        position: absolute;
        left: 0; top: 0; bottom: 0;
        z-index: 10;
        width: $menu_width;
        background-color: $white;
        padding: 0 0 0.2em 0;
        box-shadow: 1px 0 4px $header-shadow;
        overflow: auto;
        @media screen and (min-width: $screen-md-min) {
            display: block;
        }
    }
    .brand{
        background-color: $sidebar-brand;
        //height: ($menu_width/2);
        padding: $header-height 0 0;
        a.logo{
            display: block;
            padding-left: 13px;
            img{
                margin: 0.65em 0;
                max-height: 4em;
                max-width: 70%;
            }
        }
        .title{
            color: $sidebar-color;
            padding: 8px 13px;
        }
    }
    ul.sidebar-links{
        list-style: none;
        padding: 0;
        a, button{
            display: table;
            color: $brand-primary;
            text-decoration: none;
            @include transition(all 200ms linear);
            &:hover{
                background-color: $gray-lighter;
            }
            .link{
                display: table-row;
                .link-icon, .link-text{
                    display: table-cell;
                    vertical-align: middle;
                    padding: 8px 13px;
                }
                .link-icon{
                    font-size: 1.2em;
                    i{
                        vertical-align: middle;
                    }
                    .material-icons{
                        font-size: 20px;
                    }
                }
                .link-text{
                    width: 100%;
                    padding-left: 0;
                    text-align: left;
                    color: $text-hover;
                }
            }
            &.active{
                background-color: $brand-primary;
                color: $white;
                .link{
                    .link-text{
                        color: $white;
                    }
                }
            }
        }
        button{
            border: 0;
            background: transparent;
            padding: 0;
        }
    }

// Content
// --------------------------------------------------
    #container{
        position: relative;
        min-height: 100%;
    }
    .panel-container{
        padding: 1em 15px 2em;
    }
    .panel-content{
        margin-left: 0;
        padding-top: 1em;
        padding-bottom: 2em;
        .padding{
          padding: 0.5em;  
        }
        .bg-gray{
            background-color: $gray-lighter;
        }
        @media screen and (min-width: $screen-md-min) {
            margin-left: $menu_width;
        }
    }
}