body.view{
    .form-group{
        .color{
            display: block;
    		width: 1.3em;
    		height: 1.3em;
    		border-radius: 50%;
    		border: 1px solid $table-border-color;
    		background-color: red;
            background-image: repeating-linear-gradient(-45deg, transparent, transparent 2px, white 2px, white 10px);
        }
        @media screen and (min-width: $screen-md-min) {

        }
    }
    .label.view{
        font-size: 1em;
        padding: 0;
    }
    .password.view{
        font-size: 1.25em;
    }
    .textarea.view{
        background-color: $white;
        border: 2px solid $input-border;
        border-radius: $border-radius-base;
        padding: 1em 1em;
        overflow-y: scroll;
    }
    div.table-responsive-structure{
        background-color: $white;
        border: 2px solid $input-border;
        border-radius: $border-radius-base;
        margin: 0.75em 0 0;
        padding: 0.15em 0.45em;
    }
    table.structure{
        margin-bottom: 0;
    }
    .file-viewer{
        width: 40px;
        height: 40px;
        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
    div.table-files-container{
        background-color: $white;
        border: 2px solid $input-border;
        border-radius: $border-radius-base;
        margin: 0.75em 0 0;
        padding: 0.15em 0.45em;
        .table{
            margin-bottom: 0;
        }
    }
    #beebmx-panel-files{
        padding-top: 1em;
        .progress{
            height: 5px;
            margin-bottom: 10px;
        }
        .file-icon{
            font-size: em(16);
        }
    }
}