html, body {
    height: 100%;
}
body.beebmx-panel{
    
}

.panel-top-container {
    position: initial;
    @include desktop {
        position: relative;
    }
}
.panel-general-content {
    // @include grid-media($nt-tablet) {
    //     margin-left: $sidebar-width;
    // }
}