html, body {
    height: 100%;
}

// html {
//     &.is-clipped {
//         overflow: hidden !important;
//     }
// }

.panel-top-container {
    position: initial;
    @include desktop {
        position: relative;
    }
}
